

body{
  overflow:hidden;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #85a3e8, #70abeb, #5bb3eb, #34bae7, #00c0de, #00c5cf, #22c8bd);
}
.background { 
  position: absolute;
  top: 0;
  height: 100%; 
  width: 100%; 
  background-image: url( 
"./Images/backgournd\ Img.gif"); 
  background-size: cover; 
  background-position: center; 
  filter: blur(2px); 
  z-index: -1; 
} 

.text-container { 
  text-align: center; 
} 


.card {
  width: 330px;
  border-radius: 20px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #85a3e8, #70abeb, #5bb3eb, #34bae7, #00c0de, #00c5cf, #22c8bd);
  padding: 5px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 20px 0px;
  transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
}

.card .top-section {
  height: 170px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card .top-section .border {
  border-bottom-right-radius: 10px;
  height: 30px;
  width: 130px;
  background: white;
  background: #86A8E7;
  position: relative;
  transform: skew(-40deg);
  box-shadow: -10px -10px 0 0 #86A8E7;
}

.card .top-section .border::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  right: -15px;
  background: rgba(255, 255, 255, 0);
  border-top-left-radius: 10px;
  box-shadow: -5px -5px 0 2px #86A8E7;
}

.card .top-section::before {
  content: "";
  position: absolute;
  top: 30px;
  left: 0;
  background: rgba(255, 255, 255, 0);
  height: 15px;
  width: 15px;
  border-top-left-radius: 15px;
  box-shadow: -5px -5px 0 2px #86A8E7;
}

.card .top-section .icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
}

.card .top-section .icons .logo {
  color: white;
  font-size: 15px;
  height: 100%;
  aspect-ratio: 1;
  padding: 7px 0 7px 15px;
}

.card .top-section .icons .logo .top-section {
  height: 100%;
}

.card .top-section .icons .social-media {
  height: 100%;
  padding: 8px 15px;
  display: flex;
  gap: 7px;
}

.card .top-section .icons .social-media .svg {
  height: 100%;
  fill: #1b233d;
}

.card .top-section .icons .social-media .svg:hover {
  fill: white;
}

.card .bottom-section {
  margin-top: 15px;
  padding: 10px 5px;
}

.card .bottom-section .title {
  display: block;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  text-align: center;
  letter-spacing: 2px;
}

.card .bottom-section .row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card .bottom-section .row .item {
  flex: 30%;
  text-align: center;
  padding: 5px;
  color: rgba(170, 222, 243, 0.721);
}

.card .bottom-section .row .item .big-text {
  font-size: 15px;
  display: block;
  color: white;
  font-weight: 700;
}

.card .bottom-section .row .item .regular-text {
  font-size: 12px;
}

/* .card .bottom-section .row .item:nth-child(2) {
  border-left: 1px solid rgba(255, 255, 255, 0.126);
  border-right: 1px solid rgba(255, 255, 255, 0.126);
} */

/* card2 */

.cardTem{
  width: 300px;
  height: auto;
  position: relative;
  padding: 25px;
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #85a3e8, #70abeb, #5bb3eb, #34bae7, #00c0de, #00c5cf, #22c8bd);
  box-shadow: 0px 155px 62px rgba(0, 0, 0, 0.01), 0px 87px 52px rgba(0, 0, 0, 0.05), 0px 39px 39px rgba(0, 0, 0, 0.09), 0px 10px 21px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 23px;
  transition: all 0.8s cubic-bezier(0.15, 0.83, 0.66, 1);
  cursor: pointer;
}

.cardTem:hover {
  transform: scale(1.05);
}

.container {
  width: 250px;
  height: 250px;
  position: absolute;
  right: -35px;
  top: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
}

.cloud {
  width: 250px;
}

.front {
  padding-top: 45px;
  margin-left: 25px;
  display: inline;
  position: absolute;
  z-index: 11;
  animation: clouds 8s infinite;
  animation-timing-function: ease-in-out;
}

.back {
  margin-top: -30px;
  margin-left: 150px;
  z-index: 12;
  animation: clouds 12s infinite;
  animation-timing-function: ease-in-out;
}

.right-front {
  width: 45px;
  height: 45px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -25px;
  z-index: 5;
}

.left-front {
  width: 65px;
  height: 65px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.right-back {
  width: 50px;
  height: 50px;
  border-radius: 50% 50% 50% 0%;
  background-color: #4c9beb;
  display: inline-block;
  margin-left: -20px;
  z-index: 5;
}

.left-back {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 0% 50%;
  background-color: #4c9beb;
  display: inline-block;
  z-index: 5;
}

.sun {
  width: 120px;
  height: 120px;
  background: -webkit-linear-gradient(to right, #fcbb04, #fffc00);
  background: linear-gradient(to right, #fcbb04, #fffc00);
  border-radius: 60px;
  display: inline;
  position: absolute;
}

.sunshine {
  animation: sunshines 2s infinite;
}

@keyframes sunshines {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}

@keyframes clouds {
  0% {
    transform: translateX(15px);
  }

  50% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(15px);
  }
}

.cardTem-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cardTem-header span:first-child {
  word-break: break-all;
  font-weight:600;
  font-size:30px;
  line-height: 100%;
  color:white;
}

.cardTem-header span:last-child {
  font-weight: 700;
  font-size: 15px;
  line-height: 135%;
  color: grey;
}

.tempCurr {
  /* position: absolute; */
  left: 25px;
  bottom: 12px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color:white;
}

.temp-scale {
  width: 80px;
  height: 36px;
  position: absolute;
  right: 25px;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.06);
  border-radius: 9px;
}

.temp-scale span {
  font-weight: 700;
  font-size: 13px;
  line-height: 134.49%;
  color: rgba(87, 77, 51, 0.66);
}


.search-container {
  position: relative;
  width: 100%;
  border-radius: 50px;
  background-image: linear-gradient(to right, #d16ba5, #a489db, #4ea6f1, #00bbe3, #22c8bd);
  padding: 5px;
  display: flex;
  align-items: center;
}

.search-container::after, .search-container::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
}

.search-container::before {
  top: -1px;
  left: -1px;
  background-image: linear-gradient(to right, #d16ba5, #a489db, #4ea6f1, #00bbe3, #22c8bd);
  z-index: -1;
}

.search-container::after {
  bottom: -1px;
  right: -1px;
  background-image: linear-gradient(to right, #d16ba5, #a489db, #4ea6f1, #00bbe3, #22c8bd);
  box-shadow: rgba(79, 156, 232, 0.7019607843) 3px 3px 5px 0px, rgba(79, 156, 232, 0.7019607843) 5px 5px 20px 0px;
  z-index: -2;
}

.input {
  padding: 10px;
  width: 100%;
  background:white;
  border: none;
  color: #9EBCD9;
  font-size: 20px;
  border-radius: 50px;
}

.input:focus {
  outline: none;
  background: linear-gradient(135deg, rgb(244, 244, 244) 0%, #22c8bd 100%);
}

.search__icon {
  width: 50px;
  aspect-ratio: 1;
  border-left: 2px solid white;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-radius: 50%;
  padding-left: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.search__icon:hover {
  border-left: 3px solid white;
}

.search__icon path {
  fill: white;
}

/* forcast Card */

.forcast{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.cardContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.focastCard{
  width: 170px;
  height:auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom:10px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background-color: rgba(65, 65, 65, 0.308);
  border: 1px solid rgba(255, 255, 255, 0.089);
  cursor: pointer;
  padding-top: 10px;
}

.city {
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 1.2px;
  color: white;
  margin: 2px;
}

.weather {
  font-weight: 500;
  font-size: 0.7em;
  letter-spacing: 1.2px;
  color: rgb(197, 197, 197);
  margin: 2px;
}

.temp {
  font-size: 1.8em;
  color: white;
  margin: 0;
}

.minmaxContainer {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.min,.max {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 10px;
  /* gap: 4px; */
}

.max {
  align-items: flex-start;
  border-left: 2px solid white;
}

.maxHeading,.minHeading {
  font-size: 0.7em;
  font-weight: 600;
  color: white;
}

.maxTemp,.minTemp {
  font-size: 0.6em;
  font-weight: 500;
  color: rgb(197, 197, 197);
}

.cardContainer::before {
  width: 70px;
  height: 70px;
  content: "";
  position: absolute;
  background-color: rgb(144, 161, 255);
  z-index: -1;
  border-radius: 50%;
  /* left: 100px; */
  top: 50px;
  transition: all 1s;
}

.cardContainer:hover::before {
  transform: translate(-20px,50px);
}


/* Home */
.home{
  display: flex;
  justify-content:space-around;
  padding: 20px;
  gap: 20px;

}
.left_portion{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.right_portion h1{
  margin-left:60px;
  color: white;
}
/* footer */
.footerpart{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.footer{
  padding:20px;
  width:80%;
  height: 250px;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #d16ba5, #a489db, #4ea6f1, #00bbe3, #22c8bd);
  box-shadow:  5px 5px 8px #5a5a5a,
             -5px -5px 8px #ffffff;
}
.footer h1{
  margin: 0;
  text-align:center;
}
.footer h2{
  font-size: 18px;
  margin: 0;
}
.time_date{
  color: white;
  display: flex;
  justify-content: space-between;
}
.todayTEMP{
  color: white;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.temprature{
  color: white;
  font-size: 70px;
  margin: 0;
}
.rainChance{
  display: flex;
  color: white;
  gap: 30px;
  justify-content: space-between;
}
.ddd{
  color: rgb(97, 97, 97);
}
.lodingPage{
  top:0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.836);
}

/* loder */
.loader {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loader-text {
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
  align-self: center;
}

.loader-bar {
  width: 30%;
  height: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  animation: loader-bar-animation 2s ease-in-out infinite;
}

.copyRight{
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: white;
  font-size: 10px;
  /* margin: 7px; */
}

@keyframes loader-bar-animation {
  0% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateX(-100%);
  }

  50% {
    /* transform: translateX(100%) rotate(-90deg); */
    transform: translateX(100%);
  }

  100% {
    /* transform: translateX(-100%) rotate(270deg); */
    transform: translateX(-100%);
  }
}


@media(max-width:780px){
  .home{
    display:block;
  }
  .cardTem{
    width: 400px;
    height: 200px;
  }
  .card{
    width: 400px;
  }
 
}
@media(max-width:490px){
  .cardTem{
    width: 300px;
    height: 200px;
  }
  .card{
    width: 300px;
  }
 
  .focastCard{
    width: 150px;
    height: 170px;
  }
}